.portfolioContainer {
    background: #EFEFEF;
}

.portfolioHeader {
    padding: 1.5em 0;
}

.portfolioCard {
    padding: 0 3em 3em;
}

.portfolioThumbnail > img {
    margin: 0;
    width: 100%;
}

.portfolioCard > a {
    padding: 0;
}

.portfolioCardHeader {
    padding-left: .5em;
}

.portfolioThumbDesc {
    font-size: 1.25em;
    min-height: 7em;
    padding: 0 2em;
}

.portfolioThumbnail,
.portfolioThumbnail:link {
    text-decoration: none;
    position: relative;
    margin: 0;
}

.portfolioThumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    transition: .55s;
}

.portfolioRowBtn {
    width: 100%;
    margin: 0;
}

.portfolioBtn {
    font-weight: bold;
    transition: .55s;
    margin-top: .5em;
}

@media only screen and (max-width: 1024px) {
    .portfolioThumbDesc {
        min-height: 10em;
    }
}

@media only screen and (max-width: 992px) {
    .portfolioThumbDesc {
        min-height: 0;
    }
}

@media only screen and (max-width: 426px) {
    .portfolioHeader {
        padding-left: 1em;
    }
    .portfolioCard {
        padding: 0 0 3em;
    }
}

@media only screen and (max-width: 374px) {
    .portfolioCardHeader {
        padding: 0;
    }
    .portfolioThumbDesc,
    .portfolioThumbLink {
        padding: 0 .5em;
    }
}