.landingBackground {
    background-image: url('../../images/jefferson-santos-450403-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 57vh;
}

.aboutHeader {
    padding: 1.5em 0;
}

.aboutBody {
    padding: 0 0 2.5em;
}

.aboutContact {
    margin-top: 0;
}

.aboutText {
    font-size: 1.25em;
    padding-bottom: 1.5em;
}

.aboutResume {
    font-weight: bold;
    transition: .55s;
}

.aboutXSHeader {
    padding-left: 1em;
}

@media only screen and (max-width: 768px) {
    .aboutHeader {
        padding: 0;
    }
    .aboutText {
        padding: 0;
        margin-bottom: 1.5em;
    }
    .aboutResume {
        margin-bottom: 1.5em;
    }
}

@media only screen and (max-width: 426px) {
    .aboutHeader {
        padding: 0;
    }
    .aboutText {
        padding: 0;
        margin-bottom: 1.5em;
    }
    .aboutResume {
        margin-bottom: 1.5em;
    }
    .aboutBody {
        padding-bottom: 1.5em;
    }
}