.globalText {
  color: #727272;
  font-family: 'PT Sans Narrow', sans-serif;
}

.globalLink,
.globalLink:link,
.globalLink:hover,
.globalLink:visited {
  text-decoration: none;
  color: #727272;
}

.globalHeader {
  font-family: 'Cardo', serif;
}